.container {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  background-color: rgb(181, 169, 0);
}

.container__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 300px;
  height: 300px;
}
@media (max-width: 1090px)
{
  .container
  {
    flex-direction: column;
    align-items: center;
  }
  .manager_image
  {
    margin-bottom: 50px;
  }
}
