.container {
  background-color: rgb(245, 245, 94);
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  align-items: center;
}
.left img {
  height: 4rem;
  width: 4rem;
  margin: 0;
  padding: 0;
}
.left h2,
.left h4 {
  margin: 0;
}
.container h2 {
  font-size: clamp(15px, 2vw, 1.5rem);
}
.container h4 {
  font-size: clamp(12px, 2vw, 1rem);
}
.right {
  margin-left: 100px;
}
@media (max-width: 425px) {
  .container {
    padding: 0.625rem 0.5rem;
  }
}
