.container {
  background-color: rgb(245, 245, 94);
  display: flex;
  justify-content: space-between;
  padding: 2rem 5%;
  align-items: baseline;
}
.left img {
  /* height: 4rem; */
  width: 4rem;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
}
.left h2,
.left h4 {
  margin: 0;
}
.container h2 {
  font-size: clamp(15px, 2vw, 1.5rem);
}
.container h4 {
  font-size: clamp(12px, 2vw, 1rem);
}
.right {
  margin-left: 100px;
}
@media (max-width: 425px) {
  .container {
    padding: 0.625rem 0.5rem;
    flex-flow: row wrap;
    justify-content: center;
  }
  .left img {
    position: relative;
    left: 40%;
  }
  .right h2 {
    text-align: center;
    right: 15%;
    position: relative;
  }
  .left h2,
  .left h4 {
    text-align: center;
  }
}
